# https://help.github.com/articles/ignoring-files/

# Gradle
/.gradle/
/build/
/build-logic/.kotlin/

# JetBrains IntelliJ IDEA
/.idea/
/*.iml

# macOS
.DS_Store

# Visual Studio Code
/*.code-workspace
